@import './../../css/_colors.scss';
@import '../../App.scss';

.borderStyle {
  border-style: ridge;
  padding: 10;
  margin: 10;
}

.containerStyle {
  width: 40%;
  //backgroundColor: 'grey',
  overflow: hidden;
  margin: 10;
  padding: 20;
  border-style: ridge;
  min-width: 400px;
}

.my-5-margin {
  @include my-margin-mixin(5px);
}

.my-5-padding {
  @include my-margin-mixin(5px);
}

.my-float-left {
  @include my-float-mixin(left);
}

.my-display-InlineBlock {
  @include my-display-mixin('inline-block');
}

.min-width-300 {
  min-width: 300px !important;
}
