@import './../css/_colors.scss';
@import '../App.scss';

.my-20-margin {
  @include my-margin-mixin(20px);
}

.imgStyle {
  width: 30px;
  height: 30px;
}

.styleBody {
  background-color: #00ff00;
  text-align: center;
  @include my-display-mixin(inline-block);
}

.liStyle {
  background-color: #00ccdd;
  border: 3;
  border-color: #04d2ed;
}

.alert-dialog-title1 {
  background-color: #cce5ff;
}

.display-flex {
  @include my-display-mixin(flex);
}

.gray-background {
  background-color: #f1f1f1;
}

.mapsPosition {
  width: 75% !important;
  height: 50% !important;
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.positionStyle {
  @include my-display-mixin(flex);
  align-items: center;
  justify-content: center;
}
