/*

PRZED DODANIEM NOWEGO KOLORU SPRAWDZ ZGODNOSC WCAG2.0   
                wartosc minimum 3.0
https://webaim.org/resources/contrastchecker/

nazewnictwo wg schematu

*/
$text-color: #575757;
$text-secondary-color: #d7dfe2;

$white-color: #ffffff;
$black-color: #000000;

$blue-color: #1e98c0;
$blue-dark-color: #1c3455;
$blue-light-color: #34b5df;
$blue-bright-color: #eaf8fb;

$green-color: #7da020;
$green-dark-color: #5e7718;
$green-light-color: #a1cc28;

$red-color: #e91b0c;
$red-light-color: #f44034;
$red-dark-color: #b8150a;

$silver-color: #f4f7f8;
$silver-dark-color: #d4e2e3;

$grey-color: #a1aaae;
$grey-light-color: #bec3c6;
$grey-dark-color: #879197;

$violet-color: #b67dcf;
$violet-light-color: #cca3dc;
$violet-dak-color: #a157c1;

$orange-color: #cc8500;
$orange-light-color: #ffa600;
$orange-dark-color: #996300;

$yellow-color: #e6af00;
$yellow-light-color: #ffc91a;
$yellow-dark-color: #b38900;

$brown-color: #794e00;
