@import 'css/_colors.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Float-right {
  float: right !important;
}

.Float-left {
  float: left !important;
}

.Inline-block {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin my-padding-mixin($some-number) {
  padding: $some-number;
}

@mixin my-margin-mixin($some-number) {
  margin: $some-number;
}

@mixin my-float-mixin($some-value) {
  float: $some-value;
}

@mixin my-display-mixin($some-value) {
  display: $some-value;
}

.my-10-margin {
  @include my-margin-mixin(10px);
}
